@charset "UTF-8";
/*共通部分*/
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, sans-serif,
    "ヒラギノ角ゴ Pro W3";
  line-height: 1.7;
  /*color: #432 シンプルデザイン*/
  color: #fff;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.shadow {
  text-shadow: 2px 2px 1px #000000;
  /*-2px 2px 1px #000000, 
    2px -2px 1px #000000,
    -2px -2px 1px #000000,
    2px 0px 1px #000000, 
    0px 2px 1px #000000,
    -2px 0px 1px #000000, 
    0px -2px 1px #000000;  文字の影 */
}
/*Header-------------------------------*/
.logo {
  width: 100px;
}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 60px;
  list-style: none;
  max-width: 100%;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  /*color: #432 シンプルデザイン*/
  color: #fff;
  margin-left: 36px;
}
.main-nav a:hover {
  color: #b4b4c4; /*color: #432 シンプルデザイン*/
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}
/*HOME-------------------------------*/
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
/*　見出しオリジナル 
.page-title{
    font-size: 2rem;
    font-family: 'Philosopher',serif;
    text-transform: uppercase;
    font-weight: normal;
}*/
/*　見出しP2 */
.page-title {
  font-size: 2rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: bold;
}
/*　ボタン 
.button{
    font-size: 1.175rem;
    background: #545474;
    color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
}
.button:hover{
    background: #73738C;
    opacity: 0.8;
}*/
.css-button-arrow--blue {
  min-width: 130px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #545474;
}
.css-button-arrow--blue:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.css-button-arrow--blue:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--blue:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
/* 背景 */
#home {
  background-image: url("../images/@TopImage.jpg"); /*backgroundは相対パスじゃないと表示されない*/
  min-height: 100vh;
  /*background-color:rgb(33, 44, 46);
    background-blend-mode:hard-light;*/
}
#home .page-title {
  text-transform: none;
}
.big-bg {
  background-size: cover;
  background-position: center top;
}
/*News----------------------*/
#news {
  background-image: url("../images/NEWS1.jpg");
  height: 270px;
  margin-bottom: 40px;
  background-position: 50% 50%;
}
#news .page-title {
  text-align: center;
  color: white;
  font-size: 40px;
  line-height: 0;
}
/*footer----------------------*/
footer {
  background: #1b1b25;
  text-align: center;
  padding: 1.265rem 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}
/* 記事部分　*/
article {
  width: 73%;
  color: #545474;
  order: 2;
}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}
aside {
  width: 22%;
  order: 3;
}
.ad {
  order: 1;

  padding-right: 20px;
}
.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date {
  background: #8383b6;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {
  margin-left: 120px;
}
/* サイドバー */
aside {
  color: #545474;
}
aside p {
  padding: 12px 10px;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px solid #8383b6;
  font-weight: normal;
}
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li {
  border-bottom: 1px solid #ddd;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}
/*portfolio-------------------------------*/
#portfolio {
  background-image: url("../images/PF1.jpg");
  height: 270px;
  margin-bottom: 40px;
  background-position: 50% 50%;
}
#portfolio .page-title {
  text-align: center;
  color: white;
  font-size: 40px;
  line-height: 0;
}
.portfolio-htext {
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 0;
  padding: 10px 0;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.item p {
  color: #1b1b25;
}
.big-box {
  grid-column: 1 / 3;
  grid-row: 1/3;
}
.big-box img {
  height: 94%;
  width: 100%;
  object-fit: cover;
}
/*Contact-------------------------------*/
#contact.big-bg {
  background-image: url("../images/contact.jpg");

  margin-bottom: 40px;
  padding: 20px;
}
#contact .page-title {
  color: white;
  font-size: 40px;
}
/* フォーム  */
form {
  height: auto;
}
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgb(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 90%;
  max-width: 240px;
}
textarea {
  width: 90%;
  max-width: 480px;
  height: 6rem;
  margin-right: 14px;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 17px;
}
input[type="submit"]:hover {
  background-color: #8383b6;
}
/* location */
#location {
  padding: 4px 0;
  color: #1b1b25;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}
iframe {
  width: 100%;
}
/* SNS  */
#sns {
  background: #faf7f0;
  padding: 4px 0;
  color: #1b1b25;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
#sns .sub-title {
  margin-bottom: 30px;
}
.sns-box {
  width: 30%;
}

/* モバイル版
--------------------------*/
@media (max-width: 600px) {
  page-title {
    font-size: 2.5rem;
  }

  /* Header */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    /*margin: 0 20px;*/
    margin: 0;
  }

  /* HOME */
  .home-content {
    margin-top: 20%;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }
  /* NEWS */
  .news-contents {
    flex-direction: column;
  }
  .post-title {
    font-size: 25px;
  }
  .post-cat {
    font-size: 14px;
  }
  article,
  aside {
    width: 100%;
  }

  /* Portfolio */
  .big-box {
    grid-column: auto;
    grid-row: auto;
  }
  .big-box img {
    height: auto;
  }
  #portfolio {
    height: 290px;
  }

  /* CONTACT */

  /* 店舗情報。地図 / SNS */
  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }
  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }
  .sns-box {
    margin-bottom: 30px;
  }
}
@media (max-height: 490px) {
  #contact.big-bg {
    height: 768px;
  }
}
